/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* have @import '/nameOfFile/nameOfFile'  and remove "require_tree ." to import files in the way you want.*/
body {
    background: rgba(244, 244, 244, 0.966);
}


.form-container {
    display: flex;
    margin: auto;
    width: 25%;
    padding: 20px 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
}   

.li-wo-bullets {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.form-components {
    padding: 5px;
    margin: 5px;
    align-self: center;
}