


.feed-cnt {
    width: 92%;
    margin: 0 auto;
}

.feed-txt {
    margin-bottom: 50px;
    margin-top: 50px;
}

.feed-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.feed-tabs-ul {
    display: flex;
    text-align: left;
    padding-left: 0px;
}


.feed-tabs-ul li {
    padding: 0 10px;
    /* font-size: 14px; */
}
.feed-tabs-ul li a {
    font-size: 14px;
    display: inline-block;
    /* padding: 15px 0; */
    /* height: 50px; */
    border-bottom: 2px solid transparent;
    color: #71767a;
    cursor: pointer;
    font-weight: bold;
}
.feed-tabs-ul li a:hover {
    color: #0099e5;
}

.active {
    color: blue;
    /* background: blue; */
}

.hline-feed { 
    width: 107%;
    margin-left: -50px;
    /* width:100%;  */
    height:1px; 
    background: rgb(228, 225, 225);
    
}

.cloud-margin-right {
    margin-right: 5px;
}

.fa-heart:hover {
    /* color: green; */
    /* background: green; */
    transform: scale(1.3);
    transition: 0.5s transform ease;
    color: #0099e5;
}

.dropdown-new {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 156px;
    left: 16px;
    border: 0px solid white;
    border-radius: 9px;
    background: white;
    color: rgb(34, 34, 34);
    font-size: 15px;
    line-height: 35px;
    margin-top: 12px;
    padding: 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
}

.dropdown-new::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 16px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px -2px 1px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.dropdown-new a {
    color: black;
    padding: 0px 0px 0px 15px;
    cursor: pointer;
}

.dropdown-new a:hover {
    background-color: #0473d9;
    color: white;
}