

.icon-avatar {

    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* align-self: center; */
    /* margin: 10px; */
    margin-top: -10px;
    /* padding-bottom: 1px; */
    /* top: -100px; */
    border: 1px solid rgb(218, 201, 201);

  }
.dropdown {
  position: relative;
  width: 34px;
  padding-bottom: 18px;
  padding-right: 20px;
  padding-left: 25px;
  top: 8px;
  right: -20px;

  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    margin-top: 0px; 
    line-height: 20px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-bottom: 1px solid rgba(224, 224, 224, 0.849);
    border-left: 1px solid rgba(224, 224, 224, 0.849);
    border-right: 1px solid rgba(224, 224, 224, 0.849);
    padding: 5px 6px;
    padding-bottom: 0px;
    /* padding-top: 100px; */
    /* height: 100px; */
    /* text-align: center; */
    /* margin: 10px; */
    right: -100px;
    z-index: 1;
    border-radius: 2%; 
    
    /* border-bottom: 1px solid #eeeff2; */
  }
  .dropdown-content li {
        padding-bottom: 15px;
      /* line-height: 10px; */
      height: 13px;
      margin-left: -30px;
      left: 0px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.815);
}
.dropdown-content li a:hover {
  cursor: pointer;
  color: #0099e5;
}
.dropdown-content p {
    /* padding-bottom: 15px; */
  /* line-height: 10px; */
  /* height: 13px; */
  width: 120px;
  margin-left: -40px;
  /* left: 0px; */
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-new {
  visibility: visible;
}

@keyframes dropdownAnimation{
  0%{
      transform: scale(1, 0.1);
      transform: translateY(-10%);
      opacity: 0;
      }
  50% {
    transform: scale(1, 0.7);
    opacity: 0.3;
  }
  100%{
      transform: scale(1);
      transform: translateY(0%);
      opacity: 1;
      }
}

.dropdown-content {
  animation: dropdownAnimation 0.3s forwards 0s ease;
}


.icon.upload {
    width: 24px;
    background-position: -165px top;
}
.nav-upload-icon {
    display: flex;
    background-color: #34bf49;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 30px;
    /* line-height: 5px; */
    margin-top: -16px;
    justify-content: center;
    align-items: center;
    /* margitop: 100px; */

}
