.perm-navbar {

    /* margin: 0 auto; */
    /* width: 900px; */
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc;  */
    display: flex;
    justify-content: flex-start;
    /* padding: 10px; */
    /* align-items: center; */
    background: white;
    color:rgb(82, 85, 88);
    height: 50px;
    border-bottom: 0.8px solid rgba(173, 173, 173, 0.603);
    /* position: fixed; */
    /* margin-bottom: auto; */
  }

.perm-navbar-ul-elems {
    display: flex;
    flex-direction: flex-start;
    list-style: none;
    align-items: center;
}

.perm-navbar-ul-elems > li {
    padding: 0 10px;
    z-index: 2;
}

.perm-navbar-ul-elems-logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    
}

.perm-right-ul-elems {
    position: absolute;
    right: 5%;
    top: 0%;
    
}

.fixed-nav {
    position: fixed;
    display: flex;
    width: 100%;
    background: white;
    margin: 0;
    color:rgb(82, 85, 88);
    height: 50px;
    border-bottom: 0.8px solid rgba(173, 173, 173, 0.603);
    z-index: 10;
}

.perm-navbar-ul-elems-fixed {
    display: flex;
    flex-direction: flex-start;
    list-style: none;
    align-items: center;
}

.perm-navbar-ul-elems-fixed > li {
    padding: 0 10px;
    z-index: 2;
}

.perm-navbar-ul-elems-logo-fixed {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    
}

.perm-right-ul-elems-fixed {
    position: absolute; 
    right: 5%;
    top: 0%;
    z-index: 100;
}