.perm-navbar {

    /* margin: 0 auto; */
    /* width: 900px; */
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc;  */
    display: flex;
    /* width: 1000px; */
    justify-content: space-between;
    /* padding: 10px; */
    /* align-items: center; */
    background: white;
    color:rgb(82, 85, 88);
    height: 50px;
    border-bottom: 0.8px solid rgba(173, 173, 173, 0.603);
    /* position: fixed; */
    /* margin-bottom: auto; */
    padding-top: 6px;
    padding-bottom: 6px; 
  }

.perm-navbar-ul-elems {
    display: flex;
    /* flex-direction: space-between; */
    list-style: none;
    align-items: center;
    padding-left: 20px; 
}

.perm-navbar-ul-elems > li {
    padding: 0 10px;
    z-index: 2;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.perm-navbar-ul-elems-logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: black;
    
}
.nav-stuff a:hover {
    color: #0099e5;
}
.perm-right-ul-elems {
    position: relative;
    right: -38%;
    /* top: 0%; */
    /* right: 0px; */
    /* margin-right: -1200px; */
    /* float: right; */
}
.perm-right-ul-feed {
    position: absolute;
    right: 4%;
    top: 0%;
}

.fixed-nav {
    position: fixed;
    display: flex;
    width: 100%;
    background: white;
    margin: 0;
    color:rgb(82, 85, 88);
    height: 50px;
    border-bottom: 0.8px solid rgba(173, 173, 173, 0.603);
    z-index: 10;
    padding-top: 6px;
    padding-bottom: 6px;
}

.perm-navbar-ul-elems-fixed {
    display: flex;
    flex-direction: flex-start;
    list-style: none;
    align-items: center;
}

.perm-navbar-ul-elems-fixed > li {
    padding: 0 10px;
    z-index: 2;
}

.perm-navbar-ul-elems-logo-fixed {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    
}

.perm-right-ul-elems-fixed {
    position: absolute; 
    right: 6%;
    top: 15%;
    z-index: 100;
}
.profile-nav-stuff a:hover {
    color: #0099e5;
}

#btn-prof:hover {
    color: #0099e5;

}