.perm-navbar {

    /* margin: 0 auto; */
    /* width: 900px; */
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc;  */
    display: flex;
    justify-content: flex-start;
    /* padding: 10px; */
    /* align-items: center; */
    background: white;
    color:rgb(82, 85, 88);
    height: 50px;
    border-bottom: 1px solid rgba(235, 231, 231, 0.603);
    /* margin-bottom: auto; */
  }

.perm-navbar-ul-elems {
    display: flex;
    flex-direction: flex-start;
    list-style: none;
    align-items: center;
}

.perm-navbar-ul-elems > li {
    padding: 0 10px;
}

.perm-navbar-ul-elems-logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
}

.perm-right-ul-elems {
    position: absolute;
    right: 5%;
    top: 0%;
}