
@keyframes picDetailAnimation{
    0%{
        transform: scale(0.6) translateY(-10%);
        opacity: 0;
        }
    100%{
        transform: scale(1) translateY(0%);
        opacity: 1;
        }
}


.picture-detail {
    background: #fff;
    animation: picDetailAnimation 0.2s forwards 0s ease;
}

@keyframes picFadeOutAnimation{
    0%{
        transform: scale(1) translateY(0%);
        opacity: 1;
        }
    100%{
        transform: scale(0.6) translateY(-10%);
        opacity: 0.2;
        }
}


.pic-fade-out {
    animation: picFadeOutAnimation 0.4s forwards 0s ease;
}

.pic-detail-img {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    min-height: 600px;
    height: calc(100vh - 128px);
    /* height: 90vh; */
    position: relative;
    flex: 1 1 0%;
    /* padding: 32px 64px; */
    transition: height 0.15s linear 0s;
}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: 200px; */
    height: 100%;
    width: 100%;
    padding: 0px;
}

.pic-style {
    width: auto;
    height: 90%;
}
.cross-container {
    position: absolute;
    top: 34px;
    left: 34px;
    z-index: 2;
    color: rgb(238, 239, 242);
    font-size: 28px;
    height: 34px;
    width: 29px;
    padding-left: 10px;
    padding-top: 3px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: 50%;

}
.cross-container:hover {

    /* justify-content: center */
    /* border: 0.8px solid rgba(219, 219, 219, 0.075); */
    background: rgba(255, 255, 255, 0.137);
    transition: 0.6s all ease;
}
.prev-pic-container {
    display: flex;
    align-items: center;
    position: absolute;
    /* top: 0px; */
    cursor: pointer;
    /* height: calc(100% - 128px); */
    /* width: 90px; */
    z-index: 2;
    left: 0;


    color: rgb(238, 239, 242);
    font-size: 28px;
    /* width: 30px; */
    padding-left: 32px;
    padding-top: 3px;
    border-radius: 50%;
    top: 30%;
    cursor: pointer;
    height: calc(100% - 470px);
    width: 10%;
}
.prev-pic-container:hover {
    background: rgba(255, 255, 255, 0.137);
    transition: 0.6s all ease;
}
.prev-pic {
    word-break: break-word;
    max-width: 100%;
}
.next-pic-container {
    display: flex;
    color: rgb(238, 239, 242);
    font-size: 28px;
    height: 34px;
    width: 30px;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    /* top: 150px; */
    top: 20%;
    cursor: pointer;
    height: calc(100% - 470px);
    width: 10%;
    z-index: 2;
    right: 0px;
    padding-right: 32px;
    justify-content: flex-end;
    margin: 64px 0px;
}
.next-pic-container:hover {
    background: rgba(255, 255, 255, 0.137);
    transition: 0.6s all ease;
}
.next-pic {
    word-break: break-word;
    max-width: 100%;
}


/* picture content i.e. comments/likes/etc */

.pic-content-container {
    padding: 0px 64px;
    width: 90%;
    max-width: 1440px;
    /* padding: 0px 24px; */
    margin: 0px auto;
}

.pic-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pic-info {
    padding-left: 9.4%;
    padding-right: 16px;
    word-break: break-word;
    max-width: 38%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    color: rgb(34, 34, 34);

    
}
.pic-likes {
    display: flex;
    align-items: center;
    padding-right: 32px;
    width: 100%;
}

.pic-title {
    display: flex;
    word-break: break-word;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-top: 30px;
    margin-bottom: 22px;
    /* width: 100%; */
    border-bottom: 1px solid rgb(215, 216, 219);
}
.h3-pic-title {
    font-size: 24px;
    font-weight: bold;
}
.follow-style {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    height: 48px;
    /* width: 110px; */
    color: rgb(8, 112, 209);
    background-color: transparent;
    border-radius: 100px;
    margin: 0px;
}
.follow-style:hover {
    color: rgb(77, 159, 236);
}
.profile-pic-container {
    display: flex;
    align-items: center;
    min-width: 64px;
}
.icon-avatar-detail {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    /* align-self: center; */
    /* margin: 10px; */
    margin-top: 0px;
    /* margin-left: 100px; */
    /* padding-top: 10px; */
    /* top: -100px; */
}
.pic-description {
    font-size: 20px;
    /* line-height: 20px; */
    color: rgb(34, 34, 34);
    font-weight: 100;
    max-width: 95%;
    text-align: center;
}


.like-icon-container {
    padding-right: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.like-icon {
    transform: scale(1.3);
    margin-right: 20px;
}
.like-icon:hover {
    transform: scale(1.5);
    transition: 0.5s transform ease;
    color: #ff2222;
}

@keyframes heart-burst {
    0% {background-position:left;}
    100% { background-position:right;}
    
}
.heart-is-animating {
    animation: heart-burst .8s steps(28) 1;
}
.hearted {
    border-radius: 50%; 
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: right;
    background-repeat:no-repeat;
    background-size: 2900%;
}
.heart {
    border-radius: 50%; 
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: left;
    background-repeat:no-repeat;
    background-size: 2900%;
    
}

.comment-style {
    max-width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* flex-direction: column; */

}
.comment-icon-container {
    display: flex;
    align-items: center;
    min-width: 32px;
}
.comment-icon-style {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 50px;
}
.comment-container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(109, 115, 120);
    border-image: initial;
    border-radius: 4px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
.comment-style-text {
    /* will have to implement height via react using state 
    and increasing height after a certain amount of chars. */
    
    height: 25px;
    min-height: 25px;
    max-height: 170px;
    overflow-y: hidden;
    width: calc(100% - 56px);
    font-size: 18px;
    line-height: 24px;
    color: rgb(34, 34, 34);
    background-color: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 16px;

}
.comment-content {
    padding-right: 9.4%;    
    padding-top: 16%;
    width: 26%;
}

.num-comment-style {
    padding-left: 16px;
}
.comment-icon {
    font-size: 24px;
    /* top: 100px; */
    /* bottom: 10px; */
    padding-top: 16px;
    padding-right: 16px;
}
.make-comment-container{
    word-break: break-word;
    max-width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-top: 16px;

    /* right: 0; */
}

.make-comment-cancel {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: rgb(8, 112, 209);
    font-weight: bold;
    cursor: pointer;
    margin-right: 16px;
    text-decoration: none;
    transition: color 0.1s ease 0s;
}
.make-comment {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 112, 209);
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    height: 32px;
    padding: 0px 16px;
    border-width: 2px;
    border-color: rgb(8, 112, 209);
    border-radius: 100px;
    border-style: solid;
    margin: 0px;
}
.comment-btn-text-cont {
    display: flex;
    flex-direction: column;
    /* margin-right: -50; */
}
.make-comment-cancel:hover {
    transform: scale(0.95) translateY(-1%);
    color: rgb(68, 165, 255);    
}
.make-comment:hover {
    background-color: rgb(30, 133, 230);
    border-color: rgb(30, 133, 230);
}
.like-icon-edit {
    transform: scale(1.2);
    margin-right: 20px;
    margin-bottom: 5px;
}
.like-icon-edit:hover {
    transform: scale(1.5);
    transition: 0.5s transform ease;
    color: #ff2222;
}
#like-icon-likes {
    /* position: absolute; */
    /* margin-top: 5px; */
    /* padding-right: 20px; */
    /* align-self: center; */
    margin-left: -15px;
}

.delete-pic {
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: flex-end;
    font-size: 16px;
    padding-bottom: 5px;
}
.trash-pic {
    font-size: 24px;
}
.fa-trash-alt:hover {
    color: rgb(145, 6, 6);
    transform: scale(1.2);
    transition: 0.4s all ease;
}
.comment-del-icon-container {
    display: flex;
    position: relative;
    width: 120px;
    margin-right: 0;

    /* align-items: flex-end; */
    justify-content: flex-end;
}

.comment-del-icon {
    /* margin-bottom: 100px; */
    position: absolute;
    bottom: 37px;
    right: -10px;
}